* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: #fafafa;
}

.app__headerImage {
  object-fit: contain;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}
